/*body*/
body {
    background-color: #eee;
	padding: 0px;
    margin: 0px;
    position: relative;
    overscroll-behavior: none;
}

/*族 标题*/
h1 {
    position: fixed;
    bottom: 0px;
    font-size: 15px;
    padding-left: 10px;
    color: #bbb;
}

/*族 表单*/
form {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

/*族 区分线*/
form span {
    border: 1px solid lightskyblue;
}

/*类 输入框*/
.inputs {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    border: 2px solid lightskyblue;
    border-top: none;
    outline: none;
}

/*类 画板*/
.canvas {
    height: 100%;
    background-color: rgba(0,0,0,0);
    display: block;
    position: absolute;
    z-index: 0;
    top: 0px;
}

/*名 收起按钮*/
#collapseButton {
    flex: 0 0 40px;
    width: 40px;
    stroke: #aaa;
    position: absolute;
    right: 0px;
    top: -40px;
}

/*名 收起栏*/
#collapseContainer {
    flex: 0 0 40px;
    background-color: white;
    box-shadow: 0px 3px 3px #ddd;
    position: relative;
    z-index: 1;
}

/*名 返回按钮*/
#returnButton {
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ddd;
}